<div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
">
    <div class="col-md-6">

        <div class="card">

            <div class="card-header">
                <h4 class="text-primary">Bảng điều khiển</h4>
            </div>

            <div class="card-body">

                <div class="row d-flex justify-content-center">

                    <a [routerLink]="['/order']" class="col-md-11  m-2  btn btn-lg btn-success" style="color: #fff;">
                        <p class="pt-1"> <i class="fa fa-file-text-o" style="font-size: 1.5rem;"></i> </p>
                        <p> Quản lý đơn hàng </p>
                    </a>

                    <a [routerLink]="['/customer']" class="m-2 col-md-11 btn btn-lg btn-primary text-center">
                        <p class="pt-1"> <i class="fa fa-user" style="font-size: 1.5rem;"></i> </p>
                        <p> Quản lý khách hàng </p>
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>