<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="col-md-12">
        <h3 class="text-primary text-center">Bảng điều khiển</h3>

        <div class="row d-flex justify-content-between">
            <a class="btn btn-lg btn-success mt-2 col-md-4">Nhập đơn hàng mới</a>
            <a class="btn btn-lg btn-warning mt-2 col-md-4">Cập nhật đơn hàng</a>
        </div>

        <br> <br>
        <div class="row d-flex justify-content-between">
            <a [routerLink]="['/new-customer']" class="btn btn-lg btn-info mt-2 col-md-4">Thêm khách hàng</a>
            <a class="btn btn-lg btn-primary mt-2 col-md-4">Cập nhật khách hàng</a>
        </div>

    </div>

</div>